{:lein {:profile "server"}
 :nrepl {:port 7000}
 :builds {:server {:target :node-script
                   :main server.app/init
                   :output-to "target/out/server.js"
                   :devtools {:autoload true}}
          :client {:target :browser
                    :modules {:main {:entries [client.core]
                                     :output-dir "public/app/js"
                                     :asset-path "/app/js"}}
                   :devtools {:autoload true}}}}
